.root {
    -fx-background-color: transparent;
}

#userTextField, #passwordField {/* Estilo campos texto y contraseña */
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-text-fill: #000000;
}

.register-button {/* Estilo botones */
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.register-grid {/* Estilo para el contenedor principal */
    -fx-background-image: url('Yve.jpg');/* Foto fondo para el contenedor principal */
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.text-field {/* Estilo texto */
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-text-fill: #000000;
}